<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EditorPerRepo</title>

    <link rel="stylesheet" type="text/css" href="../css/hack-subset.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">

    <script src="../js/renderer/loader.js"></script>
    <script src="../js/renderer/svg-loader.js" defer></script>
    <script src="../js/renderer/editor-select.js" defer></script>
    <script src="../js/renderer/remove-assignments.js" defer></script>
    <!-- <script src="../js/renderer/renderer.js" defer></script> -->
</head>
<body>

    <!-- Opened with target editor directory main -->
    <main id="choose-editor-main">
        <div class="row main-header">
            <p>Select an editor:</p>
        </div>

        <div class="row">
            <select id="editor-select" ></select>
            <button id="remove-editor-button"><span class="svg-icon icon-remove"></span></button>
            <button id="add-editor-button"><span class="svg-icon icon-add"></span></button>
        </div>

        <div class="row">
            <input id="remember-choice-checkbox" type="checkbox" checked>
            <label for="remember-choice-checkbox">Remember selection</label>
        </div>

        <div class="row">
            <button id="editor-submit-button" class="large-button">Submit</button>
        </div>
    </main>


    <!-- Remove assignments main (no target directory specified) -->
    <main id="remove-assignments-main" class="disabled">
        <div class="row main-header">
            <p>Remove editor assignments:</p>
            <p>(Specify a directory path to run normally)</p>
        </div>

        <div class="row">
            <select id="assignments-select" multiple></select>
        </div>

        <div class="row">
            <button id="remove-selected-assignments-button" class="large-button">Remove Selected</button>
            <button id="remove-assignments-save-button" class="large-button">Save</button>
        </div>
    </main>

</body>
</html>