<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EditorPerRepo</title>

    <link rel="stylesheet" type="text/css" href="../css/hack-subset.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">

    <script src="../js/renderer/renderer.js" defer></script>
    <script src="../js/renderer/svg-loader.js" defer></script>
</head>
<body>

    <main>
        <div class="row">
            <p id="form-instructions">Select an editor:</p>
        </div>

        <div class="row">
            <select id="editor-select" ></select>
            <button id="remove-editor-button"><span class="svg-icon icon-remove"></span></button>
            <button id="add-editor-button"><span class="svg-icon icon-add"></span></button>
        </div>

        <div class="row">
            <input id="remember-choice-checkbox" type="checkbox" checked>
            <label for="remember-choice-checkbox">Remember selection</label>
        </div>

        <div class="row">
            <button id="editor-submit-button" class="large-button">Submit</button>
        </div>
    </main>

</body>
</html>