<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../css/util/hack-subset.css">
    <link rel="stylesheet" type="text/css" href="../css/popup.css">

    <script src="../js/renderer/popup.js" defer></script>
</head>
<body>

    <main>
        <div id="icon-container">
            <svg id="info" xmlns="http://www.w3.org/2000/svg" width="80" height="80"
                 viewBox="0 0 24 24" fill="none" stroke="#45f3ff" stroke-width="1.5"
                 stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="12" y1="16" x2="12" y2="12"></line>
                <line x1="12" y1="8" x2="12.01" y2="8"></line>
            </svg>

            <svg id="warning" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24" fill="none"
                 stroke="#45f3ff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path>
                <line x1="12" y1="9" x2="12" y2="13"></line>
                <line x1="12" y1="17" x2="12.01" y2="17"></line>
            </svg>

            <svg id="error" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24" fill="none"
                 stroke="#45f3ff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                <polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon>
                <line x1="12" y1="8" x2="12" y2="12"></line>
                <line x1="12" y1="16" x2="12.01" y2="16"></line>
            </svg>
        </div>

        <div id="content">
            <h3 id="main-text"></h3>
            <div id="details"></div>
            <!-- <h3 id="main-text">Info Text</h3> -->
            <!-- <div id="details">Details Text</div> -->

            <button id="popup-close-button" class="large-button">Close</button>
        </div>
    </main>

</body>
</html>