@forward "colors";
@use "colors";
@use "sass:meta";
@use "sass:list";


$font-1: "gg sans Medium Regular", sans-serif;


@mixin get-hover-transition($properties, $duration: .2s, $type: ease-out)
{
    @if (meta.type-of($properties) != list)
    {
        transition: $properties $duration $type;
    }
    @else
    {
        $transition-vals: ();
        @each $prop in $properties
        {
            $transition-val: $prop $duration $type;
            $transition-vals: list.append($transition-vals, $transition-val, "comma");
        }

        transition: $transition-vals;
    }
}


*
{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: inherit;
    user-select: none;
    outline: none;
}


html, body
{
    height: 100%;
    background-color: colors.get("darkgray");
}


body
{
    color: colors.get("offwhite");
    font-family: $font-1;
    display: flex;
    flex-direction: column;
}


button
{
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    img, svg
    {
        height: 100%;
        width: 100%;
    }
}


select, input[type="submit"]
{
    background-color: colors.get("white");
    padding: 5px 3px;
    min-width: 200px;
    border-radius: 3px;
    cursor: pointer;
}


#editor-select-form
{
    color: colors.get("off-white");
    background-color: colors.get("darkgray");
    width: 100%;
    height: 100%;
    padding: 0 30px;
    //flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-row
    {
        p#form-instructions
        {
            margin-bottom: 3px;
            width: 100%;
        }

        input[type=submit]
        {
            margin-top: 20px;
            background-color: transparent;
            color: colors.get("cyan");
            border: 1px solid colors.get("cyan");
            @include get-hover-transition([background-color, color, border-color]);

            &:hover
            {
                background-color: colors.get("pink");
                border-color: colors.get("orange");
                color: colors.get("darkgray");
            }
        }
    }
}