@use "shared";
@use "colors";


#editor-select-form
{
    background-color: colors.get("darkgray");
    width: 100%;
    height: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.form-row
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        p#form-instructions
        {
            width: 100%;
            text-align: center;
            margin-bottom: 12px;
            //text-transform: uppercase;
            color: colors.get("white");
            //letter-spacing: 1px;
            font-weight: normal;
        }

        &:has(#editor-select)
        {
            width: 100%;
            height: 27px;
            justify-content: flex-end;
            align-items: center;

            select#editor-select
            {
                width: 100%;
                min-height: 100%;
                padding: 0 4px;
                background-color: transparent;
                border: 2px solid colors.get("gray");
                color: inherit;
                box-sizing: content-box;

                option
                {
                    background-color: colors.get("darkgray");
                    color: colors.get("off-white");
                    border: 1px solid colors.get("gray");
                }
            }

            button
            {
                margin-left: 1px;
                height: 35px;
                width: 32px;

                &:first-of-type
                {
                    margin-left: 6px;
                }

                svg
                {
                    stroke: colors.get("pink");
                    @include shared.get-hover-transition(stroke);
                }

                &:hover > svg
                {
                    stroke: colors.get("orange");
                }
            }
        }

        input[type="submit"]#editor-select-submit-button
        {
            margin-top: 20px;
            background-color: transparent;
            color: colors.get("cyan");
            border: 1px solid colors.get("cyan");
            padding: 7px 3px;
            min-width: 200px;
            @include shared.get-hover-transition([background-color, color, border-color]);

            &:disabled
            {
                opacity: .5;
                cursor: default;
            }

            &:not(:disabled):hover
            {
                background-color: colors.get("pink");
                border-color: colors.get("orange");
                color: colors.get("darkgray");
            }
        }
    }
}