@use "shared";
@use "colors";


#editor-select-form
{
    div.form-row
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        &:has(#editor-select)
        {
            height: 27px;
            justify-content: flex-start;

            #editor-select
            {
                width: 100%;
                height: 100%;
            }

            button
            {
                &:first-of-type
                {
                    margin-left: 6px;
                }

                svg
                {
                    stroke: colors.get("pink");
                    @include shared.get-hover-transition(stroke);
                }

                &:hover > svg
                {
                    stroke: colors.get("orange");
                }
            }
        }
    }
}